body {
 font-family: 'Arial', san-serif; 
 color: #4D2F1D;
 background: url('backround .jpg') no-repeat center center fixed;
 background-size: cover;
 text-align: center;
}

h1 {
 text-align: center;
 font-family: 'Bodoni 72', serif;
 font-size: 2rem;
}

h3 {
 text-align: center;
}

img {
width: auto;
height: 300px;
justify-content: center;
gap: 20rem;
}

figure {
  display: inline-block;
  margin: 1em;
  text-align: center;
}

img {
  width: auto;
  height: 300px;
}

figcaption {
  margin-top: 0.5em;
  font-weight: bold;
  color: #17507C;
}